@charset "UTF-8";

/* Configurações Gerais */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Headline:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

* > a {
    text-decoration: none;
}

:root {
    --cor1: #0C1F33;
    --cor2: #2D2F33;
    --cor3: #5C5F66;
    --cor4: #264E86;
    --cor5: #c07c5a;
    --font1: 'Montserrat';
    --font2: 'Roboto';
    --font3: 'Mozilla Headline'; 
}

html {
    scroll-behavior: smooth;
    cursor: url('Recursos/cursor1.png'), auto;
}

a:hover {
    cursor: url('Recursos/cursor2.png'), auto;
}

/*===================================================*/

/* Header Adicional */

.hdr1 {
    position: relative;
    height: 75px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    background: var(--cor1);
}

.hdr1_fgr {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 5px;
}
.hdr1_fgr > img {
    width: 65px;
    height: 60px;
}
.hdr1_fgr > p {
    color: white;
    font: normal normal 1.1em var(--font3);
}

.hdr1_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.hdr1_nav_items {
    color: white;
    text-decoration: none;
    font: normal normal 1em var(--font1);
}
.hdr1_nav_items > p::after {
    content: ' ▼';
}
.hdr1_nav_items:hover > p::after {
    content: ' ▲';
    
}

.btnContact {
    width: 175px;
    height: 55px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.btnContact > a {
    color: white;
    text-decoration: none;
    font: normal bold 1em var(--font1);
    z-index: 1;
}

.btnContact-efeitoHover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    transform: translateX(-100%);
    transition: all 0.35s ease-in-out 0s;
}
.btnContact:hover > a {
    color: black;
}
.btnContact:hover > .btnContact-efeitoHover {
    transform: translateX(0%);
}

/* Header Adicional -> Efeito dos links*/

.hdr1_benef {
    border-radius: 5px;
    position: absolute;
    top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    z-index: 2;
    padding: 25px;
    background: var(--cor1);
    transition: all 0.25s ease-in-out 0s;
}

.hdr1_benef > * {
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;  
    min-width: 455px;
}

.hdr1_benef > img {
    position: absolute;
    top: -20px;
    left: 41%;
    min-width: 30px;
    height: 30px;
}

.hdr1_benef_mc > h1 {
    font: normal bold 1.5em var(--font1);
}
.hdr1_benef_mc > p {
    font: normal normal 1em var(--font1);
}

.hdr1_benef_hp > h1 {
    font: normal bold 1.5em var(--font1);
}
.hdr1_benef_hp > p {
    font: normal normal 1em var(--font1);
}

.hdr1_obje {
    border-radius: 5px;
    position: absolute;
    top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    z-index: 2;
    padding: 25px;
    background: var(--cor1);
    transition: all 0.25s ease-in-out 0s;
}

.hdr1_obje > * {
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;  
    min-width: 455px;
}

.hdr1_obje > img {
    position: absolute;
    top: -20px;
    left: 55.5%;
    min-width: 30px;
    height: 30px;
}

.hdr1_obje_mp > h1 {
    font: normal bold 1.5em var(--font1);
}
.hdr1_obje_mp > p {
    font: normal normal 1em var(--font1);
}

.hdr1_obje_lp > h1 {
    font: normal bold 1.5em var(--font1);
}
.hdr1_obje_lp > p {
    font: normal normal 1em var(--font1);
}

/*===================================================*/

/* Configurações Gerais -> Main <- */

main {
    background: var(--cor1);
}

/*===================================================*/

/* Sessão Sobre */

.mn_secSobre {
    min-height: 700px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 25% 25% 20%;
    justify-content: center;
    align-content: center;
    background: black url('Recursos/FundoSobre.jpg') no-repeat center / cover;
    background-attachment: fixed;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.05) 1%, white 10%);
    box-shadow: inset 0px -50px 25px var(--cor1);
}
.mn_secSobre_h1 {
    grid-row: 2 / 3;
    font: normal bold 3.1em var(--font1);
    color: white;
    text-shadow: 1px 1px 5px black;
}
.mn_secSobre_h2 {
    grid-row: 3 / 4;
    font: normal normal 1.5em var(--font1);
    color: white;
    text-shadow: 1px 1px 5px black;
}

/* Header Guia */

.hdr2 {
    position: sticky;
    top: 0px;
    grid-row: 4 / 5;
    min-height: 75px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    z-index: 2;
    margin: 0px 0px 50px 0px;
}

.hdr2_nav {
    padding: 0px 15px;
    height: 65px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;  
    gap: 10px;  
    border-radius: 25px;
    backdrop-filter: blur(15px);
    background: #dadbdf60;
}
.hdr2_nav_items {
    border-radius: 25px;
    padding: 10px 20px;
    text-align: center;
    color: black;
    text-decoration: none;
    font: normal normal 1em var(--font1);
    background: #5c5f662d;
    backdrop-filter: blur(15px);
    transition: all 0.35s ease-out 0s;
}
.hdr2_nav_items:hover {
    background: #e1e2e62d;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.301);
}

.hdr2_menu {
    display: none;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center; 
    gap: 20px;
    grid-row: 4 / 5;
    z-index: 2;
    margin: 20px 0px 50px 0px; 
    padding: 20px; 
    border-radius: 10px;
    backdrop-filter: blur(15px);
    background: #dadbdf60;
    transition: all 0s ease-out 0s;
}
.hdr2_menu_btn {
    border-radius: 25px;
    height: 50px;
    width: 50px;
    background: #5c5f662d;
    backdrop-filter: blur(15px);
    transition: all 0.35s ease-out 0s;
    background: url('Recursos/dots-three-outline-vertical.svg') no-repeat center / 25px;
    
}
.hdr2_menu_items {
    border-radius: 25px;
    padding: 10px 20px;
    text-align: center;
    color: black;
    text-decoration: none;
    font: normal normal 1em var(--font1);
    background: #9d9ea12d;
    backdrop-filter: blur(15px);
    transition: all 0.35s ease-out 0s;
}
.hdr2_menu_btn:hover {
    background: #f4f5f72d url('Recursos/dots-three-outline-vertical.svg') no-repeat center / 25px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.301);
}
.hdr2_menu_items:hover {
    background: #fafcff56;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.301);
}

/*===================================================*/

/* Projetos Concluídos */

.mn_secPsCs {
    margin: 0px 0px 100px 0px;
    padding: 0px 5px;
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(2, minmax(255px, 300px)) minmax(0px, 1fr);
    grid-template-rows: 100px 450px 450px;
    grid-template-areas: 
    '. h1   h1   .'
    '. art1 art2 .'
    '. art3 art4 .';
    justify-items: center;
    align-items: center;
    gap: 40px 50px;
    background: var(--cor1);
}

.mn_secPsCs_h1 {
    grid-area: h1;
    font: normal bold 2em var(--font1);
    color: white;
    text-shadow: 1px 1px 5px black;
}
.mn_secPsCs_h1 > strong::after {
    content: '';
    animation: EscritaPsCs 4.5s ease-in-out 2.5s 1 normal forwards;
}
@keyframes EscritaPsCs {
    0% {content: 'P|';}5% {content: 'Pr|';}12.5% {content: 'Pro|';}15% {content: 'Proj|';}22.5% {content: 'Proje|';}25% {content: 'Projet|';}37% {content: 'Projeto|';}40% {content: 'Projetos|';}50% {content: 'Projetos |';}65% {content: 'Projetos C|';}70% {content: 'Projetos Co|';}75% {content: 'Projetos Con|';}82.5% {content: 'Projetos Conc|';}85% {content: 'Projetos Concl|';}90% {content: 'Projetos Conclu|';}92.5% {content: 'Projetos Concluí|';}95% {content: 'Projetos Concluíd|';}97.5% {content: 'Projetos Concluído|';}100% {content: 'Projetos Concluídos';}
}

.mn_secPsCs_art {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    background: gray;
    list-style-position: inside;
    transition: all 0.3s ease-out 0s;
}
.mn_secPsCs_art:hover {
    transform: scale(110%);
    box-shadow: 0px 0px 15px var(--cor4);
}
.Proj {
    height: 50%;
    width: 100%;
    box-shadow: inset 0px 0px 15px var(--cor1);
}
.ProjConcl {
    height: 50%;
    width: 100%;
    position: absolute;
    transform: translateY(100%);
    transition: all 0.65s ease-out 0s;
    box-shadow: inset 0px 0px 15px black;
}
.mn_secPsCs_art > div {
    padding: 15px 15px 10px 15px;
    z-index: 1;
    background: #0C1F33;
    height: 60%;
}
.mn_secPsCs_art > div > h1 {
    width: 100%;
    color: white;
    font: normal normal 1.1em var(--font1);
}
.mn_secPsCs_art > div > ul > li{
    color: white;
    font: normal normal 0.9em var(--font1);
}

.secPsCs_art1 {
    grid-area: art1;
}
.secPsCs_art1 > .Proj {
    background: url('Recursos/Proj1.jpg') no-repeat center / cover;
}
.secPsCs_art1 > .ProjConcl {
    background: url('Recursos/ProjConcl1.jpg') no-repeat center / cover;
}
.secPsCs_art1:hover > .ProjConcl {
    transform: translateY(0%);
}

.secPsCs_art2 {
    grid-area: art2;
}
.secPsCs_art2 > .Proj {
    background: url('Recursos/Proj2.jpg') no-repeat center / cover;
}
.secPsCs_art2 > .ProjConcl {
    background: url('Recursos/ProjConcl2.jpg') no-repeat center / cover;
}
.secPsCs_art2:hover > .ProjConcl {
    transform: translateY(0%);
}

.secPsCs_art3 {
    grid-area: art3;
}
.secPsCs_art3 > .Proj {
    background: url('Recursos/Proj3.jpg') no-repeat center / cover;
}
.secPsCs_art3 > .ProjConcl {
    background: url('Recursos/ProjConcl3.jpg') no-repeat center / cover;
}
.secPsCs_art3:hover > .ProjConcl {
    transform: translateY(0%);
}

.secPsCs_art4 {
    grid-area: art4;
}
.secPsCs_art4 > .Proj {
    background: url('Recursos/Proj4.jpg') no-repeat center / cover;
}
.secPsCs_art4 > .ProjConcl {
    background: url('Recursos/ProjConcl4.jpg') no-repeat center / cover;
}
.secPsCs_art4:hover > .ProjConcl {
    transform: translateY(0%);
}

.secPsCs_art5 {
    grid-area: art5;
}
.secPsCs_art5 > .Proj {
    background: url('Recursos/Proj5.jpg') no-repeat center / cover;
}
.secPsCs_art5 > .ProjConcl {
    background: url('Recursos/ProjConcl5.jpg') no-repeat center / cover;
}
.secPsCs_art5:hover > .ProjConcl {
    transform: translateY(0%);
}

/*===================================================*/

/* Competências */

/* Competências -> Aba para conteúdo pessoal */

.mn_secComp {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.mn_secComp_ind {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.mn_seccomp_ind_txt {
    position: relative;
    width: 80vw;
    margin: auto;
} 
.mn_seccomp_ind_txt > img {
    position: absolute;
    right: 0px;
    top: 65px;
    width: 662px;
} 

.mn_seccomp_ind_txt > h2 {
    color: var(--cor5);
    font: normal bold 2.25em var(--font3);
}
.mn_seccomp_ind_txt > h1 {
    margin: 0px 0px 300px 0px;
    color: white;
    font: normal bold 5.5em var(--font3);
}
.mn_seccomp_ind_txt > p {
    margin: 0px 0px 25px 0px;
    color: white;
    font: normal normal 1.5em var(--font1);
}
.mn_seccomp_ind_exp {  
    margin: 25px auto;
    border-top: #264E86 2px solid;
    width: 80vw;
    height: 100px; 
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(5, 225px) minmax(0px, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    gap: 25px;
}
.mn_seccomp_ind_exp > div {
    height: 50px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items:flex-start;
    align-content: center;
    gap: 0px 10px;
}
.mn_seccomp_ind_exp > div > h1 {
    color: white;
    font: normal bold 1em var(--font1);
}
.mn_seccomp_ind_exp > div > p {
    color: white;
    font: normal normal 1em var(--font1);
}
.mn_seccomp_ind_exp > div > figure {
    border-radius: 100%;
    height: 50px;
    width: 50px;
}
.mn_seccomp_ind_exp > div:nth-child(2) > figure {
    background: white url('Recursos/smiley-sticker.svg') no-repeat center / 35px ;
}
.mn_seccomp_ind_exp > div:nth-child(3) > figure {
    background: white url('Recursos/certificate.svg') no-repeat center / 35px ;
}
.mn_seccomp_ind_exp > div:nth-child(4) > figure {
    background: white url('Recursos/check-fat.svg') no-repeat center / 35px ;
}
.mn_seccomp_ind_exp > div:nth-child(5) > figure {
    background: white url('Recursos/timer.svg') no-repeat center / 35px ;
}
.mn_seccomp_ind_exp > div:nth-child(6) > figure {
    background: white url('Recursos/chart-donut.svg') no-repeat center / 35px ;
} 

/* Competências -> Aba para Habilidades e Qualidades */

.mn_seccomp_inf {
    width: 80vw;
    margin: auto;
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-self: center;
    position: relative;
}

.mn_seccomp_inf_txt {
    position: relative;
    height: auto;
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-self: flex-start;
    padding: 0px 0px 50px 0px;
}
.mn_seccomp_inf_txt > h2 {
    color: var(--cor5);
    font: normal bold 2.25em var(--font3);
}
.mn_seccomp_inf_txt > h1 {
    width: 80vw;
    margin: 0px 0px 35px 0px;
    color: white;
    font: normal bold 3em var(--font3);
}
.mn_seccomp_inf_txt > p {
    width: 80%;
    margin: 0px 0px 25px 0px;
    color: white;
    font: normal normal 1.25em var(--font1);
}
.mn_seccomp_inf_txt > ul {
    list-style-image: url('Recursos/IconeComp.png');
    list-style-position: inside;
    columns: 2;
}
.mn_seccomp_inf_txt > ul > li {
    color: white;
    font: normal normal 1.1em var(--font1);
}

/* Avaliações */

.mn_ava {
    display: grid;
    grid-template-columns: minmax(10px, 1fr) repeat(3, 2fr) minmax(10px, 1fr);
    grid-template-rows: 100px repeat(2, 1fr);
    grid-template-areas: 
    '. h1   h1   h1   .'
    '. art1 art2 art3 .'
    '. art4 art5 art6 .';
    justify-items: center;
    align-items: start;
    gap: 25px;
}
.mn_ava > h1 {
    grid-area: h1;
    align-self: center;
    color: white;
    font: normal bold 2.5em var(--font3);
}
.mn_ava > h1 > strong {
    color: var(--cor5);
}

.mn_ava_art {
    background: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.mn_ava_art > p {
    text-indent: 25px;
    font: normal normal 1em var(--font1);
    margin: 0px 0px 25px 0px;
}
.mn_ava_art > img {
    width: 70px;
    height: 70px;
}

.mn_ava_art1 {
    grid-area: art1;
}
.mn_ava_art2 {
    grid-area: art2;
}
.mn_ava_art3 {
    grid-area: art3;
}
.mn_ava_art4 {
    grid-area: art4;
}
.mn_ava_art5 {
    grid-area: art5;
}
.mn_ava_art6 {
    grid-area: art6;
}

.mn_ava_art_asd {
    height: 75px;
    width: 100%;
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 5px 15px;
}
.mn_ava_art_asd > p {
    width: 100%;
    font: normal normal 1em var(--font1);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.315);
}
.mn_ava_art_asd > img {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    box-shadow: 0px 0px 15px rgba(41, 41, 41, 0.753);
}

/* Contato */

.ftr {
    padding: 50px 0px 0px 0px;
    background: var(--cor1);
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.ftr_art {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.ftr_art_MeiosDeContato {
    gap: 25px;
}
.ftr_art_MeiosDeContato > a {
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background: #cf9a80;
    border-radius: 100%;
    transition: all 0.35 ease-in-out 0s;
    box-shadow: 0px 0px 10px black;
}
.ftr_art_MeiosDeContato > a:hover {
    transform: scale(104.5%);
    background: whitesmoke;
    box-shadow: 0px 0px 25px var(--cor4);
}
.ftr_art_MeiosDeContato > img {
    height: 35px;
    width: 35px;
}

.ftr_art_Links {
    gap: 15px;
}
.ftr_art_Links > a {
    color: white;
    font: normal normal 1.25em var(--font1);
    transition: all 0.15s ease-in-out 0s;
}
.ftr_art_Links > span {
    color: white;
}
#SpanQueSóSurgeNoFinal {
    display: none;
}

.ftr_art_Slogam {
    padding: 25px 10px 0px 10px;
    border-top: 2px solid var(--cor4);
}
.ftr_art_Slogam > a {
    color: white;
    font: italic normal 1em var(--font1);
}

.ftr_art_Fim {
    box-shadow: 0px -25px 25px #103052;
    margin: 50px 0px 0px 0px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 25px 0px;
    background: #103052;
    width: 100%;
}
.ftr_art_Fim > h1 {
    text-align: center;
    color: white;
    font: normal normal 1.5em var(--font1);
}
.ftr_art_Fim > h2 {
    text-align: center;
    color: white;
    font: normal normal 1em var(--font1);
}

/* Responsividade */    

@media (max-width: 1600px) {
    .mn_seccomp_ind_exp {  
        padding: 25px 0px;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }
    .mn_seccomp_ind_exp > span {  
        display: none;
    }
    /*===============================================*/
    .mn_ava {
        grid-template-columns: minmax(5px, 10px) repeat(3, 5fr) minmax(5px, 10px);  
    }
}

@media (max-width: 1200px) {
    .mn_seccomp_ind_txt > h2 {
        font: normal bold 2em var(--font3);   
    }
    .mn_seccomp_ind_txt > h1 {
        font: normal bold 5.5em var(--font3);   
    }
    .mn_seccomp_ind_txt > p {
        font: normal normal 1.25em var(--font1);   
    }
    .mn_seccomp_ind_txt > img {
        width: 550px;
        top: 110px;  
    }
    /*===============================================*/
    .mn_secSobre {
        grid-template-rows: 30% 20% 20% 30%;
        gap: 20px;
    }
    .mn_secSobre_h1 {
        font: normal bold 2.85em var(--font1);
    }
    .mn_secSobre_h2 {
        font: normal normal 1.25em var(--font1);
    }
    /*===============================================*/
    .mn_seccomp_inf {
        flex-flow: column wrap;
    }
    .mn_seccomp_inf_txt {
        width: 100%;
    }
    .mn_seccomp_inf_txt > h2 {
        font-size: 1.9em;
    }
    .mn_seccomp_inf_txt > h1 {
        font-size: 2.1em;
    }
    .mn_seccomp_inf_txt > p {
        font-size: 1.2em;   
    }
    .mn_seccomp_inf_txt > ul {
        columns: 2;
    }
    /*===============================================*/
    .mn_ava {
        grid-template-columns: minmax(50px, 50px) repeat(2, 5fr) minmax(50px, 50px);  
        grid-template-rows: 100px repeat(3, 1fr);
        grid-template-areas: 
        '. h1   h1   .'
        '. art1 art2 .'
        '. art3 art4 .'
        '. art5 art6 .';
    }
    /*===============================================*/
    .hdr1_ctn {
        max-width: 490px;
    }
    .hdr1_benef > .hdr1_benef_mc, .hdr1_benef_hp {
        width: 100%;
        text-align: left;
    }
    .hdr1_obje > .hdr1_obje_mp, .hdr1_obje_lp {
        width: 100%;
        text-align: left;
    }
}

@media (max-width: 900px) {
    .mn_seccomp_ind_txt > h2 {
        font: normal bold 1.75em var(--font3);   
    }
    .mn_seccomp_ind_txt > h1 {
        margin: 0px 0px 240px 0px;
        font: normal bold 4em var(--font3);   
    }
    .mn_seccomp_ind_txt > p {
        font: normal normal 1em var(--font1);   
    }
    .mn_seccomp_ind_txt > img {
        width: 450px;
        top: 80px;  
    }
    .mn_seccomp_inf_txt > ul {
        columns: 1;
    }
    /*===============================================*/
    .mn_ava {
        grid-template-columns: 400px;  
        grid-template-rows: 100px repeat(6, 1fr);
        grid-template-areas: 
        'h1'
        'art1'
        'art2'
        'art3'
        'art4'
        'art5'
        'art6';
        justify-content: center;
    }
    .mn_ava > h1 {
        font-size: 2.45em;
    }
}

@media (max-width: 700px) {
    .btnContact {
        width: 100px;
    } 
    .btnContact > a {
        text-align: center;
        width: 100px;
    } 
    /*===============================================*/
    .mn_secSobre {
        gap: 40px;
    }
    .mn_secSobre_h1 {
        font: normal bold 2.20em var(--font1);
    }
    .mn_secSobre_h2 {
        font: normal normal 1.05em var(--font1);
    }
    /*===============================================*/
    .hdr1_nav {
        flex-flow: column nowrap;
        justify-content: center;
        gap: 10px;
    }
    /*===============================================*/
    .hdr2_nav {
        display: none;
    }
    .hdr2_menu {
        display: flex;
    }
    /*===============================================*/
    .mn_secPsCs { 
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 40px;
    }
    .mn_secPsCs_art { 
        height: 450px;
        width: 292.5px;
    }
    .mn_secPsCs_art:hover { 
        transform: scale(105%);
    }
    /*===============================================*/
    .mn_seccomp_ind_txt > h1 {
        font: normal bold 3.2em var(--font3);   
    }
    .mn_seccomp_ind_txt > img {
        top: 70px;
    }
    .mn_seccomp_ind_exp {
        width: 80vw;
        gap: 20px 150px;
    }
    /*===============================================*/
    .ftr_art_Links {
        justify-content: center;
        flex-flow: row wrap;
        width: 250px;
    }
    .ftr_art_Links > span {
        display: none;
    }
    .ftr_art_Fim > h1 {
        font-size: 1.25em;
    }
    /*===============================================*/
    .hdr1_ctn > img {
        left: 50%;
        transform: translateX(-50%);
    }
    .hdr1_ctn {
        max-width: 450px;
        padding: 20px 15px;
    }
}

@media (max-width: 500px) {
    .mn_secSobre {
        flex-flow: column nowrap;
    }
    /*===============================================*/
    .mn_seccomp_ind_txt > h2 {
        font: normal bold 1.25em var(--font3);   
    }
    .mn_seccomp_ind_txt > h1 {
        margin: 0px 0px 240px 0px;
        font: normal bold 3.2em var(--font3);   
    }
    .mn_seccomp_ind_txt > p {
        font: normal normal 1em var(--font1);   
    }
    .mn_seccomp_ind_txt > img {
        width: 400px;
        top: 80px;     
    }
    /*===============================================*/
    .ftr_art_Fim > h1 {
        font-size: 1em;
    }
    .ftr_art_Fim > h2 {
        font-size: 0.9em;
    }
}

@media (max-width: 499px) {
    .hdr1 {
        grid-template-columns: 1fr 3fr 1fr;
    }
    .hdr1_fgr {
        transform: scale(90%);
        gap: 0px;
    }
    .hdr1_nav_items {
        font: normal normal 0.975em var(--font1);
    }  
    .btnContact {
        transform: scale(90%);
    }
    /*===============================================*/
    .mn_secSobre {
        min-height: auto;
        grid-template-rows: 100px repeat(2, 1fr) 100px;
        padding: 0px 10px;
        gap: 25px;
    }
    .mn_secSobre_h1 {
        font-size: 1.75em;
    }
    .mn_secSobre_h2 {
        font-size: 1em;
    }
    /*===============================================*/
    .mn_secPsCs {
        gap: 0px;
    }
    .mn_secPsCs_h1 {
        text-align: center;
    }
    .mn_secPsCs_art {
        transform: scale(80%);
    }
    .mn_secPsCs_art:hover {
        transform: scale(90%);
    }
    /*===============================================*/
    .mn_seccomp_ind_txt > h1 {
        margin: 0px 0px 175px 0px;
    }
    .mn_seccomp_ind_txt > img {
        top: 125px;
        width: 325px;
    }
    .mn_seccomp_inf_txt > h2 {
        font-size: 1.25em;
    }
    .mn_seccomp_inf_txt > h1 {
        font-size: 1.55em;
    }
    .mn_seccomp_inf_txt > p {
        width: 70vw;
        font-size: 1em;
    }
    /*===============================================*/
    .mn_ava {
        gap: 0px;
    }
    .mn_ava > h1 {
        font-size: 2em;
    }
    .mn_ava_art {
        transform: scale(80%);
    }
}
